* {
  background-color: antiquewhite;
}

.movie_container {
  width:100%;
  text-align:center;
}
.movie_container > div {
  width: calc(100% / 4);  
  display: inline-block;
  vertical-align: top;   
  border:2px solid rgb(0, 89, 255);
  text-align:center;
  margin:1%;    
  padding:2px;
}